<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0" />
    <title>Bedrock</title>
    <link rel="stylesheet" href="/resources/css/default.css" class="bedrock-theme"/>
    <link rel="stylesheet" href="/resources/css/hljs.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="/resources/js/highlight.pack.js"></script>
</head>
<body>
<div id="bedrockApp"></div>
<script type="text/javascript" src="/resources/js/bedrock-jsdeps.js"></script>
<script type="text/javascript" src="/resources/js/{{ appJsPath }}"></script>
</body>
</html>