// Taken from https://github.com/chrisshafer/raven/blob/master/scss/flexit.scss

$order-max: 12;
$weight-max: 30;
$strict-max: 12;
$basis-max: 12;
.row {
  display: flex;
  flex-direction: row;

  &.fill{
    height: 100%;
    overflow: auto;
  }

  &.vcenter{
    align-items: center;
  }

  &.center{
    justify-content: center;
  }

  .column {
    position: relative;
    flex-grow: 1;
    align-items: stretch;
    flex-basis: auto;

    @for $i from 1 to $basis-max + 1 {
      &.basis-#{$i} { flex-basis: $i }
    }
    @for $i from 1 to $order-max + 1 {
      &.order-#{$i} { order: $i }
    }
    @for $i from 1 to $weight-max + 1 {
      &.grow-#{$i} { flex-grow: $i }
    }
    @for $i from 1 to $weight-max + 1 {
      &.shrink-#{$i} { flex-shrink: $i }
    }
    @for $i from 1 to $strict-max + 1 {
      &.strict-#{$i} {
        flex-grow: 0;
        width: 100% / ( $strict-max / $i ) ;
      }
      &.strict-md-#{$i}{
        flex-grow: 0;
        width: 100%;
        @media screen and (min-width: 756px) {
          width: 100% / ( $strict-max / $i ) ;
        }
      }
      &.strict-lg-#{$i}{
        flex-grow: 0;
        width: 100%;
        @media screen and (min-width: 1024px) {
          width: 100% / ( $strict-max / $i ) ;
        }
      }
    }
    @media screen and (max-width: 756px) {
    }

  }

  @media screen and (max-width: 756px) {
    flex-wrap: wrap;
  }
  &.strict{
    flex-wrap: wrap;
  }
  &.wrap{
    flex-wrap: wrap;
  }

}