

@mixin current-menu-item {
  &.current {
    padding-right: 15px;
    padding-left: $menu-item-leftpad - 3px;
    border-left: solid 3px $current-item-color;
    span {
      font-weight: 600;
    }
  }
}

@mixin hover-menu-item{
  &:hover {
    @include noselect-pointer();
    background-color: darken($vertical-background-color, 10%);
  }
}