@import '../colors';

.status-indicator {
  display: inline-block;
  font-size: 1em;
  width: 1em;
  height: 1em;
  background-color: $neutral;
  border-radius: 100%;
  border: 0.125em solid white;
  box-sizing: border-box;
  /* Statuses */
  &.success { background-color: $success-color; }
  &.neutral { background-color: $neutral; } //default
  &.warning { background-color: $warning; }
  &.danger { background-color: $error-color; }
  /* Sizes (font-size scales width & height values) */
  &.small { font-size: 0.75rem }
  &.medium { font-size: 1.25rem } // default
  &.large { font-size: 1.5rem }
  &.extra-large { font-size: 2.5rem }
  /* Modifiers */
  &.attached {
    position: absolute;
    right: -0.25em;
    top: -0.25em;
    pointer-events: none;
  }
  &.clickable:hover {
    @include noselect-pointer();
    box-shadow: 0 0 2px 2px $shadow;
  }
}

.status-indicator + .status-indicator {
  margin-left: 0.5rem;
}