@import "../colors";

.backround-selected{
  background-color: $shadow;
}

.absolute-list{
  position: absolute;
  width: 100%;
  overflow: auto;
  height: 0px;

  &.selecting{
    height: auto;
  }

  &:hover{
    overflow: visible;
  }
}

.listing {
  margin: 0;
  padding: 0;
  list-style: none;
  &.bulleted {
    list-style: disc;
  }
  &.ordered {
    list-style: decimal;
  }
  &.bulleted, &.ordered {
    padding-left: 1.5em; // pushes list items to the right
  }
  &.relaxed .listItem {
    padding: 0.5em 0;
  }
  &.divided {
    .listItem {
      padding: 0.5em 0;
      &:not(:last-child) {
        border-bottom: 1px solid $line-separator;
      }
    }
  }
  &.navigation {
    .listItem {
      color: $line-separator;
      cursor: default; // better indicates clickability without acting like a "link"
    }
    .listItem.active, .listItem:hover {
      color: $font-color;
    }
    a {
      text-decoration: none;
      color: inherit; // colors will be set at the .listItem level
      width: 100%;
      display: inline-block;
      font-weight: normal;
    }
  }
}

.listing .listItem {
  position: relative;

  transition: background-color 0.1s;
  &.focused{
    background-color: $shadow;
  }

  &:hover{
    background-color: $shadow;
  }

  &:active{
    background-color: $shadow-1;
  }

  .iconWrapper, .contentWrapper {
    display: inline-block;
  }
  .iconWrapper .icon {
    vertical-align: middle;
  }
  .iconWrapper + .contentWrapper {
    padding-left: 1em;
    vertical-align: middle;
  }
  .label {
    float: right;
  }
}

.definition-list {
  margin: 0;
  .definition-list-item {
    display: flex; /* simplifies markup */
    padding: 0.125em 0;
    dt, dd {
      margin: 0;
      padding: 0;
    }
    dt {
      flex: 0 0 8em;
      text-align: right;
      text-transform: uppercase;
      font-weight: 500;
      &:after { content: ":"; }
    }
    dd {
      flex: 1 1 auto;
      padding-left: 1em;
    }
  }
}