@import "../global";


.dashboard-viewport{
  position: absolute;
  top: $dashboard-vertical-menu-height;
  left: $dashboard-menu-width;
  right: 0px;
  &.slim-nav{
    @media (min-width: $mobile-width-min) {

      top: 0px;
      left: $dashboard-menu-slim-width;
    }
  }
  @media (max-width: $mobile-width-min) {
    left: 0px;
  }
  @media (min-width: $mobile-width-min) {
    top: 0px;
  }
}

.retracted-menu-bar{
  &.left{
    @media (min-width: $mobile-width-min) {

      height: auto;
      top: 0px;
      right: auto;
      bottom: 0px;
      left: 0px;
      width: $dashboard-menu-slim-width;
      .title {
        span {
          display: none;
        }
      }
    }
  }
}

.retracted-menu-bar{

  @media (min-width: $mobile-width-min) {
    display: none;
  }
  &.left{

    @media (min-width: $mobile-width-min) {
      padding-top: 20px;
      display: flex;
      flex-direction:  column;
      align-items: center;
      .title-header{
        order: 1;
      }

      .title{
        img{
          $padding-horiz: ($dashboard-vertical-menu-height - $mobile-header-image-height) / 2;
          padding: $padding-horiz 0px $padding-horiz 0px;
          height: $slim-icon-height;
        }
      }
      .menu-button{
        order: 2;
      }

      .icon{
        text-align: center;
        line-height: $dashboard-menu-slim-width;

        @include noselect-pointer();
        i{
          transition: background-color 0.2s;
          &:hover{
            background-color: darken($horizontal-background-color, 5%);
          }
          width: $dashboard-menu-slim-width;
          height: $dashboard-menu-slim-width;
          font-size: 24px;
        }
        display: inline-block;
      }
    }
  }
  height: $dashboard-vertical-menu-height;
  background-color: $horizontal-background-color;
  color: $menu-font-color;
  width: 100%;
  position: fixed;
  top: 0px; right: 0px; left: 0px;
  z-index: 1000;

  border-bottom: $dashboard-menu-border;

  .title{
    span{
      color: $menu-font-color;
      padding: 10px;
      line-height: 20px;
      display: inline-block;
      font-weight: 600;
    }
    img{
      line-height: $mobile-header-image-height;
      height: $mobile-header-image-height;
      $padding-horiz: ($dashboard-vertical-menu-height - $mobile-header-image-height) / 2;
      padding: $padding-horiz 0px $padding-horiz $mobile-header-leftpad;
      float: left;
    }
  }
  .settings-button{
    float: right;
    text-align: center;
    line-height: 1;

    @include noselect-pointer();
    i{
      transition: background-color 0.2s;
      &:hover{
        background-color: darken($horizontal-background-color, 5%);
      }
      color: $menu-font-color;
      border-left: $dashboard-menu-border;
      background-color: $horizontal-background-color;
      width: $dashboard-vertical-menu-height;
      height: $dashboard-vertical-menu-height;
      line-height: $dashboard-vertical-menu-height;
      font-size: 20px;
    }
    display: inline-block;
  }

  .icon{
    text-align: center;
    line-height: 1;

    @include noselect-pointer();
    i{
      transition: background-color 0.2s;
      &:hover{
        background-color: darken($horizontal-background-color, 5%);
      }
      color: $menu-font-color;
      background-color: $horizontal-background-color;
      width: $dashboard-vertical-menu-height;
      height: $dashboard-vertical-menu-height;
      line-height: $dashboard-vertical-menu-height;
      font-size: 20px;
    }
    display: inline-block;
  }

  .menu-button{
    float: left;
  }

}

.dashboard-menu{
  z-index: $dashboard-menu;
  background-color: $vertical-background-color;
  color: $menu-font-color;
  font-weight: 300;
  position: fixed;
  width: $dashboard-menu-width;
  transition: left 0.2s;
  border-right: $dashboard-menu-border;
  -webkit-transform: translateZ(0); // fixes chrome rendering bug

  box-shadow: $nav-shadow;

  &.show{
    @media (max-width: $mobile-width-min) {
      left: 0px;
    }
  }
  &.hide{
    @media (max-width: $mobile-width-min) {
      left: ($dashboard-menu-width * -1) - 1px;
    }
  }

  top: $dashboard-vertical-menu-height; bottom: 0px; left: 0px;

  @media (max-width: $mobile-width-min) {
    left: ($dashboard-menu-width * -1) - 1px;
  }
  @media (min-width: $mobile-width-min) {
    top: 0px;
  }
  display: block;

  .menu-header{
    line-height: 1;
    @include noselect-pointer();
    text-align: left;
    padding: $nav-header-padding;
    font-weight: 500;
    font-size: 20px;
    color: lighten($menu-font-color, 10%);
    .title{
      height: 25px;
      padding: 0px;
      display: inline-block;
      img{
        line-height: 25px;
        width: $nav-logo-width;
        height: auto;
        padding-right: 10px;
      }
      span{
        color: $menu-font-color;
        line-height: 25px;
        display: inline-block;
        font-size: 25px;
        font-weight: 500;
        float: right;
      }
    }
    .sub-heading{
      font-weight: 300;
      font-size: 16px;
    }
    border-bottom: $dashboard-menu-border;

    @media (max-width: $mobile-width-min) {
      display: none;
    }
  }

  .menu-items {
    .menu-item-list {
      margin: $menu-item-group-margin;
      padding: 0;
      list-style: none;
      .menu-list-item{
        text-align: left;
        padding: $menu-item-padding;
        margin: 0;
        transition: background-color 0.1s;
        line-height: normal;

        i {
          display: inline-block;
        }

        span {
          color: $menu-font-color;
          display: inline-block;
          font-weight: 500;
          font-size: $menu-item-font-size;
        }

        @include hover-menu-item();
        @include current-menu-item();

      }
    }
  }

  &.left{
    @media (min-width: $mobile-width-min) {

      .menu-header {
        display: none;
      }

      top: 0px;
      left: ($dashboard-menu-width * -1) - 1px;

      &.show {
        left: $dashboard-menu-slim-width;

      }
      &.hide {
        left: ($dashboard-menu-width * -1) - 1px;

      }
    }
  }

}

.dashboard-menu{
  &.slim-nav{

    left: 55px;
    .dashboard-menu{
      border: none;
      width: 55px;
    }

    .menu-header{
      padding-top: 25px;
      border: none;
    }
    .menu-item-list{
      .menu-list-item{
        &:hover{
          background-color: darken($nav-color, 10%);
        }
      }
      div {
        position: relative;
        &:hover{
          background-color: darken($nav-color, 10%);
        }
        a {
          li {
            border: none !important;
            padding: 17px 10px 17px 15px !important;
          }
        }
        i {
          color: $inverse-nav-color;
          position: absolute;
          top: 15px;
          left: 16px;
        }
      }
    }
  }
}

.tabs{
  margin: auto;
  .tab{
    font-size: 16px;
    font-weight: 500;

    &:first-child{
      margin-left: 0px;
    }
    @include noselect-pointer();
    margin: 5px 3px 0px 3px;
    padding: 2px 20px 2px 20px;
    display: inline-block;
    list-style: none;
    border-bottom: 3px solid $secondary-color;

    transition: border-color 0.1s;
    &:hover{
      border-bottom: 3px solid $complement-secondary;
    }
    &.current{
      border-bottom: 3px solid $primary-color;
    }
    &.extended{
      width: auto;
    }
  }
}