.table-responsive{
  overflow-x: auto;
}

.bd-table{
  table{
    border-collapse: collapse;
    width: 100%;
    thead{
      border-bottom: $table-header-border-bottom;
      tr{
        th{
          color: $table-header-font-color;
          background-color: $table-header-background-color;
          text-align: left;
          white-space: nowrap ;
          padding: 10px 15px 10px 4px;
          @include noselect-pointer();

          &:first-child{
            padding-left: 10px;
          }

          &:hover{
            .sort-direction {
              color: darken($primary-color, 15%);
            }
          }

          .sort-direction{
            position: relative;
            display: inline-block;
            color: rgba(0,0,0,0.15);
            width: 20px;
            flex-direction: row;
            vertical-align: top;
            .up{
              position: absolute;
              top: -1px;
            }
            .down{
              position: absolute;
              top: 6px;
            }

            &.active{
              color: rgba(0,0,0,0.25);
              &.decending{
                .up{
                  color: $table-header-font-color;
                }
              }
              &.ascending{
                .down{
                  color: $table-header-font-color;
                }
              }
            }
          }
        }
      }
    }
    tbody{
      tr{
        td{
          &:first-child{
            padding-left: 10px;
          }
          white-space: nowrap;
          .sub-unit{
            font-size: 11px;
            font-weight: 500;
            padding-left: 1px;
          }
          border-bottom: 1px solid $shadow;
          padding: 10px 15px 10px 4px;
          text-align: left;
        }
      }
    }
  }
}
