.table-responsive{
  overflow-x: auto;
}

$table-header-font-size: 16px;
$table-header-font-weight: 500;
$table-header-text-transform: uppercase;

.bd-table{
  table{
    border-collapse: collapse;
    width: 100%;
    thead{
      border-bottom: $table-header-border-bottom;
      tr{
        th{
          .header-wrapper{
            font-size: $table-header-font-size;
            font-weight: $table-header-font-weight;
            text-transform: $table-header-text-transform;
            color: $table-header-font-color;
            background-color: $table-header-background-color;
            text-align: left;
            white-space: nowrap ;
            padding: $table-header-cell-padding;
            @include noselect-pointer();
            line-height: 1;
            &:first-child{
              padding-left: $table-first-child-leftpad;
            }

            &:hover{
              .sort-direction {
                color: darken($primary-color, 15%);
              }
            }

            .sort-direction {
              position: relative;
              top: 0px;
              bottom: 0px;
              display: inline;
              color: rgba(0, 0, 0, 0.15);
              width: 20px;
              flex-direction: row;
              align-items: center;

              .up-down {
                display: inline;
                height: 100%;
                .up {
                  position: absolute;
                  top: -3px;
                }
                .down {
                  position: absolute;
                  top: 3px;
                }
              }

              &.active {
                color: rgba(0, 0, 0, 0.25);
                &.decending {
                  .up {
                    color: $table-header-font-color;
                  }
                }
                &.ascending {
                  .down {
                    color: $table-header-font-color;
                  }
                }
              }
            }
          }
        }
      }
    }
    tbody{
      tr{
        td{
          &:first-child{
            padding-left: $table-first-child-leftpad;
          }
          white-space: nowrap;
          .sub-unit{
            font-size: 11px;
            font-weight: 500;
            padding-left: 1px;
          }
          border-bottom: $table-body-cell-border-bottom;
          padding: $table-body-cell-padding;
          text-align: left;
        }
      }
    }
  }
}
