@import "../global";



.toggle{

  @include noselect-pointer();
  display: inline-block;
  line-height: 0;
  position: relative;
  height: $toggle-slider-height + ($toogle-border-width * 2);
  width: $toggle-width + ($toogle-border-width * 2);
  margin: 8px;

  $off: ($toogle-border-width * -1) - $toogle-x-inset;
  $on: $toggle-indicator-height - $toogle-border-width + $toogle-x-inset;

  .toggle-indicator{
    width: $toggle-indicator-height;
    height: $toggle-indicator-height;
    background-color: $toggle-true-indicator-color;
    position: absolute;
    border-radius: 20px;
    top: $toggle-indicator-offset + $toogle-border-width;
    z-index: 3;
  }

  &.initial-true{
    .interior-wrapper{
      background-color: $toggle-true-background;
      border-color: $toggle-true-border-color;
    }
    .interior-indicator{
      width: $toggle-width;
    }
    .toggle-indicator{
      left: $toggle-width - $on;
    }
  }

  &.initial-false{
    .interior-wrapper{
      background-color: $toggle-false-background;
      border-color: $toggle-false-border-color;
    }
    .interior-indicator{
      width: 0px;
    }
    .toggle-indicator{
      left: - $off;
    }
  }

  &.true{
    .interior-wrapper{
      background-color: $toggle-true-background;
      border-color: $toggle-true-border-color;
    }
    .interior-indicator{
      width: $toggle-width;
    }
    .toggle-indicator{
      @include animation('to-true-anim.2s 1');
      background-color: $toggle-true-indicator-color;
      left: $toggle-width - $on;
    }
  }

  &.false{
    .interior-wrapper{
      background-color: $toggle-false-background;
      border-color: $toggle-false-border-color;
    }
    .interior-indicator{
      width: 0px;
    }
    .toggle-indicator{
      @include animation('to-false-anim .2s 1');
      background-color: $toggle-false-indicator-color;
      left: - $off;
    }
  }

  .interior-wrapper{
    transition: background-color 0.25s, border-color 0.25s;
    position: absolute;
    margin: 0;
    -webkit-appearance: none;
    width: $toggle-width;
    height: $toggle-slider-height;
    border-radius: 15px;
    border: $toogle-border-width solid $toggle-false-border-color;
    overflow: hidden;
    z-index: 2;
  }

  .interior-indicator{
    left: 0px;
    height: 18px;
    z-index: 1;
    position: absolute;
    width: 0px;
    background-color: transparent;
    transition: width 0.2s;
  }

  @include keyframes(to-false-anim) {
    0%   {
      left: $toggle-width - $on;
    }
    100% {
      left: -$off;
    }
  }
  @include keyframes(to-true-anim) {
    0%   {
      left: -$off;
    }
    100% {
      left: $toggle-width - $on;
    }
  }

}
