@import url(https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,100italic,100,400italic,500,500italic,700,700italic,900,900italic);

// Fonts
$primary-font: 'Roboto', sans-serif;

// style config first
$primary-color: #008080;
$contrast-with-primary: #f0f0f0;

$secondary-color: #485155;
$complement-secondary: lighten($secondary-color, 10%);
$contrast-with-secondary: #e0e0e0;

$accent-color: #008080;

$font-color: #393939;
$adjacent-font-color: #7a7a7a;
$inverse-font-color: #f0f0f0;

$body-background: #f0f0f0;
$card-background: #FEFEFE;

$error-color: #F0522E;
$success-color: #A2B43B;
$contrast-with-status: #f0f0f0;

$line-separator: rgba(0, 0, 0, 0.1);

// Text
$base-text-size: 14px;
$small-text-size: $base-text-size - 2px;
$large-text-size: $base-text-size + 2px;
$extra-large-text-size: $base-text-size + 8px;

// Table
$table-header-font-color: $font-color;
$table-header-background-color: transparent;
$table-header-border-bottom: 1px solid $font-color;

// Buttons
$primary-color-button: #006668;
$secondary-color-button: $secondary-color;
$button-font-transform: uppercase;
$button-base-padding-lr: 16px;
$button-base-padding-tb: 8px;
$button-border-raidius: 4px;
$button-base-font-size: 12px;

// Navigation
$inverse-nav-color: #F0F0F0;
$nav-color: #314351;

$nav-header-padding: 15px 10px 10px 15px;
$nav-logo-width: 25px;
$mobile-header-image-height: 20px;
$mobile-header-leftpad: 10px;

$dashboard-vertical-menu-height: 40px;
$dashboard-menu-width: 200px;

$horizontal-background-color: $nav-color;
$vertical-background-color: $nav-color;
$current-item-color: $contrast-with-primary;

$mobile-width-min: 1024px;
$dashboard-menu-border: none; //1px solid darken($vertical-background-color, 10%);
$menu-font-color: $inverse-nav-color;

$dashboard-menu-slim-width: 50px;
$slim-icon-height: 25px;

$menu-item-leftpad: 15px;
$menu-item-padding: 7px 10px 7px $menu-item-leftpad;
$menu-item-group-margin: 0px;
$menu-item-font-size: 14px;
$nav-shadow: 0 4px 8px rgba(50, 50, 93, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);

// Input
$input-border-inactive-color: #9A9A9A;
$input-border-active-color: $primary-color;

$input-bg-active: transparent;
$input-bg-inactive: transparent;

$input-border-radius: 0px;

$input-text-color-active: $font-color;
$input-text-color-inactive: $font-color;

@mixin input-border($color){
  border: none;
  border-bottom: 2px solid  $color;
}

$select-input-padding: 5px 18px 0px 8px;
$select-caret-inset: -18px;

$text-input-padding: 5px 8px 0px 5px;

$checkbox-border: 1px solid $secondary-color;
$checked-color: $primary-color;
$checked-mark-color: $inverse-font-color;

$slider-bar-border: 1px solid #485155;
$slider-thumb-color: $primary-color;
$slider-thumb-size: 14px;

// Cards
$card-margin: 5px;
$card-padding: 10px;
$card-header-height: 44px;
$card-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
$card-border: 1px solid $line-separator;
$card-border-radius: 3px;
$card-header-text-color: $contrast-with-secondary;
$card-header-bg-color: $secondary-color;


// Toggle
$toggle-true-indicator-color: $primary-color;
$toggle-false-indicator-color: $contrast-with-primary;

$toggle-false-background: $adjacent-font-color;
$toggle-true-background: $secondary-color;

$toggle-false-border-color: $toggle-false-background;
$toggle-true-border-color: $toggle-true-background;

$toogle-x-inset: 2px;
$toogle-border-width: 1px;
$toggle-indicator-height: 14px; // even number
$toggle-slider-height: 18px; // even number
$toggle-indicator-offset: ($toggle-slider-height - $toggle-indicator-height) / 2;
$toggle-width: 40px;

// Loading
$loading-spinner-color: $font-color;


// default mixins place overrides below
@import "../stylemixins/stylemixins";

// base
@import "../global";
@import "../main";

// elements
@import "../elements/elements";

// standard styles
@import "../styleguide/styles";